.photo {
  padding: 40px 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -15px;
}

.left {
  width: 66.66%;
}

.right {
  width: 33.33%;
}

.left,
.right {
  padding: 0 15px;
}

.title {
  text-transform: capitalize;
  margin-bottom: 40px;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  cursor: zoom-in;
}

.user {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.userImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.tags {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.tag {
  font-size: 14px;
  font-weight: 300;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all 0.25s ease-in-out;
  color: #8e8e8e;
}

.tag:hover {
  border: 1px solid #222;
  color: #222;
}

.tag:not(:last-child) {
  margin-right: 10px;
}

.tagLink {
  display: block;
  padding: 5px 10px;
}

.list {
  display: flex;
  padding: 20px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  background-color: rgba(180, 60, 60, 1);
  color: #fff;
}

.item .icon {
  width: 15px;
  height: 15px;
}

.item .text {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: bold;
}

.item:not(:last-child) {
  margin-right: 10px;
}

.item .text {
  margin-left: 10px;
}

.button {
  display: inline-flex;
  align-items: center;
  font-size: 14px;
  padding: 10px 20px;
  margin-top: 20px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  background-color: #333333;
  color: #fff;
}

.button:hover {
  background-color: #000;
}

.buttonImg {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}

@media (max-width: 768px) {
  .photo {
    padding: 20px 0;
  }

  .title {
    margin-bottom: 20px;
  }

  .left,
  .right {
    width: 100%;
  }

  .left {
    margin-bottom: 20px;
  }

  .item {
    padding: 10px 15px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .left,
  .right {
    width: 50%;
  }
}
